#login {
    height: 300px;
    width: 100%;
    display: flex;

    .inner {
        margin: auto;

        & > h1, & > p, & > input {
            text-align: center;
        }

        input {
            width: 400px;
            padding: 10px;
            border: solid 5px #dcdcdc;
            transition: border 0.3s;
            outline: none;

            &:focus, &.focus {
                border: solid 5px #969696;
                //box-shadow: 0 0 5px 1px #969696;
            }
        }

        p.online {
            color: green;
        }

        p.offline {
            color: red;
        }

    }

    a.button {
        display: block;
        width: 100%;
        margin: 0 auto;
        background-color: #dcdcdc;
        border-radius: 5px;
        font-size: 14px;
        text-align: center;
        line-height: 40px;
        height: 40px;
    }
}
